In [9]:
import pandas as pd
from autogluon.tabular import TabularDataset, TabularPredictor

In [2]:
train = TabularDataset("Train.csv")
train.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0

In [3]:
label = "total_cost"
print("Summanry of class variable: \n", train[label].describe())

Summanry of class variable:
 count    4.809000e+03
mean     8.114389e+06
std      1.222490e+07
min      4.900000e+04
25%      8.121750e+05
50%      3.397875e+06
75%      9.945000e+06
max      9.953288e+07
Name: total_cost, dtype: float64

In [4]:
save_path = 'agModels-predictClass'  # specifies folder to store trained models
predictor = TabularPredictor(label=label, path=save_path).fit(train)

Beginning AutoGluon training ...
AutoGluon will save models to "agModels-predictClass/"
AutoGluon Version:  0.5.0
Python Version:     3.9.12
Operating System:   Linux
Train Data Rows:    4809
Train Data Columns: 22
Label Column: total_cost
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (99532875.0, 49000.0, 8114388.77762, 12224903.25197)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3374.36 MB
	Train Data (Original)  Memory Usage: 5.73 MB (0.2% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 9 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Unused Original Features (Count: 1): ['ID']
		These features were not used to generate any of the output features. Add a feature generator compatible with these features to utilize them.
		Features can also be unused if they carry very little information, such as being categorical but having almost entirely unique values or being duplicates of other features.
		These features do not need to be present at inference time.
		('object', []) : 1 | ['ID']
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  :  4 | ['total_female', 'total_male', 'night_mainland', 'night_zanzibar']
		('object', []) : 17 | ['country', 'age_group', 'travel_with', 'purpose', 'main_activity', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 8 | ['country', 'age_group', 'travel_with', 'purpose', 'main_activity', ...]
		('float', [])     : 4 | ['total_female', 'total_male', 'night_mainland', 'night_zanzibar']
		('int', ['bool']) : 9 | ['tour_arrangement', 'package_transport_int', 'package_accomodation', 'package_food', 'package_transport_tz', ...]
	0.4s = Fit runtime
	21 features in original data used to generate 21 features in processed data.
	Train Data (Processed) Memory Usage: 0.24 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.4s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.10397171969224371, Train Rows: 4309, Val Rows: 500
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-12037418.5067	 = Validation score   (-root_mean_squared_error)
	0.02s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-12204427.2115	 = Validation score   (-root_mean_squared_error)
	0.02s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMXT ...
	-9939198.892	 = Validation score   (-root_mean_squared_error)
	1.5s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBM ...
	-9950764.3861	 = Validation score   (-root_mean_squared_error)
	0.62s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: RandomForestMSE ...
	-10394348.3155	 = Validation score   (-root_mean_squared_error)
	2.84s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: CatBoost ...
/home/martinoywa/anaconda3/envs/automl/lib/python3.9/site-packages/xgboost/compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
	-9864219.5345	 = Validation score   (-root_mean_squared_error)
	4.54s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: ExtraTreesMSE ...
	-10419669.5167	 = Validation score   (-root_mean_squared_error)
	2.08s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 5: early stopping
	-9812183.4497	 = Validation score   (-root_mean_squared_error)
	7.94s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: XGBoost ...
	-10278053.6816	 = Validation score   (-root_mean_squared_error)
	0.86s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	-10286405.4074	 = Validation score   (-root_mean_squared_error)
	13.87s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMLarge ...
	-10142532.6879	 = Validation score   (-root_mean_squared_error)
	1.34s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	-9701200.8311	 = Validation score   (-root_mean_squared_error)
	0.36s	 = Training   runtime
	0.01s	 = Validation runtime
AutoGluon training complete, total runtime = 37.64s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("agModels-predictClass/")

In [5]:
test = TabularDataset("Test.csv")
test.head()

Loaded data from: Test.csv | Columns = 22 / 22 | Rows = 1601 -> 1601

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
0,tour_1,AUSTRALIA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,Yes,10,3,Cash,Yes,Wildlife
1,tour_100,SOUTH AFRICA,25-44,Friends/Relatives,0.0,4.0,Business,Wildlife tourism,Tanzania Mission Abroad,Package Tour,...,No,No,No,No,No,13,0,Cash,No,"Wonderful Country, Landscape, Nature"
2,tour_1001,GERMANY,25-44,Friends/Relatives,3.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,No,7,14,Cash,No,No comments
3,tour_1006,CANADA,24-Jan,Friends/Relatives,2.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,No,0,4,Cash,Yes,Friendly People
4,tour_1009,UNITED KINGDOM,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,No,No,10,0,Cash,Yes,Friendly People

In [8]:
predictor = TabularPredictor.load(save_path)  # unnecessary, just demonstrates how to load previously-trained predictor from file

y_pred = predictor.predict(test)
print("Predictions:  \n", y_pred)

Predictions:
 0       2.291550e+07
1       6.968238e+06
2       8.672750e+06
3       5.207633e+06
4       1.974017e+07
            ...
1596    7.634804e+05
1597    2.087865e+07
1598    8.933031e+05
1599    1.201588e+06
1600    5.708302e+06
Name: total_cost, Length: 1601, dtype: float32

In [11]:
# submission
ids = test["ID"]
submission = pd.DataFrame({"ID": ids, label: y_pred})
submission.head()

          ID  total_cost
0     tour_1  22915504.0
1   tour_100   6968238.5
2  tour_1001   8672750.0
3  tour_1006   5207633.0
4  tour_1009  19740172.0

In [12]:
submission.to_csv("automl_submission.csv", index=False)